{% extends 'base.html' %}
{% load static %}
{% block title %} change-password {% endblock %}


{% block content %}
    <div class="bg-red-500 sm:mx-auto flex flex-col space-y-5 items-center justify-center border border-gray-500 rounded-xl sm:max-w-lg m-7 p-7">
        <h1 class="text-center text-2xl sm:text-3xl md:text-4xl font-bold">🔐 Change Your Password</h1>

        <form method="POST" action="" class="w-full space-y-4">
            {% csrf_token %}
            <Label for="oldpassword" class="text-xl font-semibold">Old-Password</Label>
            {{ form.old_password }}
            {% if form.old_password.errors %}
                <div class="px-2 animate-pulse bg-white text-red-700 text-sm">
                    **{{ form.old_password.errors.0 }}
                </div>
            {% endif %}


            <Label for="newpassword" class="text-xl font-semibold">New-Password</Label>
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
                <div class="px-2 animate-pulse bg-white text-red-700 text-sm">
                    **{{ form.new_password1.errors.0 }}
                </div>
            {% endif %}

            <Label for="confirmpassword" class="text-xl font-semibold">Confirm-Password</Label>
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
                <div class="px-2 animate-pulse bg-white text-red-700 text-sm">
                    **{{ form.new_password2.errors.0 }}
                </div>
            {% endif %}


            {% if form.non_field_errors %}
                <div class="px-2 animate-pulse bg-white text-red-700 text-sm">
                    {% for error in form.non_field_errors %}
                        **{{ error }}
                    {% endfor %}
                </div>
                
            {% endif %}

            <input type="submit" value="Update Password" class="mt-7 block text-white text-xl md:text-2xl text-center px-2 py-1 rounded-xl w-full bg-blue-500 hover:bg-blue-700">

        </form>
    </div>
    
{% endblock %}
    