{% extends 'base.html' %}
{% block title %}login{% endblock %}
{% block content %}
<div class="bg-red-500 sm:mx-auto flex flex-col space-y-5 items-center justify-center border border-gray-500 rounded-xl sm:max-w-lg m-7 p-7">
        <h1 class="text-center text-4xl font-bold">Login</h1>

        <form method="POST" action="" class="w-full space-y-4">
            {% csrf_token %}
            <Label for="username" class="text-xl font-semibold">Name</Label>
            {{ form.username }}
            {% if form.username.errors %}
                <div class="px-2 animate-pulse bg-white text-red-700 text-sm">
                    **{{ form.username.errors.0 }}
                </div>
            {% endif %}


            <Label for="password" class="text-xl font-semibold">password</Label>
            {{ form.password }}
            {% if form.password.errors %}
                <div class="px-2 animate-pulse bg-white text-red-700 text-sm">
                    **{{ form.password.errors.0 }}
                </div>
            {% endif %}


            {% if form.non_field_errors %}
                <div class="px-2 animate-pulse bg-white text-red-700 text-sm">
                    {% for error in form.non_field_errors %}
                        **{{ error }}
                    {% endfor %}
                </div>
                
            {% endif %}

            <input type="submit" value="Log-in" class="mt-7 block text-white text-2xl text-center px-2 py-1 rounded-xl w-full bg-gray-500 hover:bg-gray-700">

        </form>
        

        <p class="mt-2 p-5 text-black text-center">Don't have an account?
            <a href="{% url 'signup_view' %}">
                <span class="text-center italic hover:text-blue-700  px-2 text-bold text-white">Signup Here</span>
            </a>
        </p>
 
</div>
{% endblock %}