{% extends 'base.html' %}
{% load static %}
{% block title %} {{ item.name }} {% endblock %}
{% block content %}
    <div>
        <div class="grid grid-cols-1 sm:grid-cols-2 sm:gap-5 m-5 rounded-xl bg-red-300">
            <div class=" p-5">
                {% if item.images %}
                    <img src="{{ item.images.url }}" alt="{{ item.name }}" class="rounded-xl border border-red-800 shadow-md w-full object-cover">
                {% else %}
                    <img src="{% static 'images/default.png' %}" alt="" class="rounded-xl border border-red-800 shadow-md w-full object-cover">
                {% endif %}
                </div>
            <div class="p-5 space-y-5 flex flex-col">
                <h1 class="text-2xl sm:text-4xl font-bold text-center">Details about <span class="text-3xl sm:text-5xl text-red-800 text-center">{{ item.name }}</span></h1>
                <label for="" class="text-2xl sm:text-3xl font-semibold border-b">Name: {{ item.name }}</label>
                <label for="" class="text-2xl sm:text-3xl font-semibold border-b">Price: <strong class="text-2xl sm:text-4xl font-extrabold text-yellow-600">{{ item.price }}</strong> Birr</label>
                {% if item.description  %}
                    <label for="" class="text-2xl sm:text-3xl font-semibold border-b">Description: <p class="text-xl">{{ item.description }}</p></label>
                {% endif %}
                <div class="pt-5 flex justify-center space-x-5">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <a href="{% url 'edit_view' item.id %}" class="text-2xl  block px-5 py-3 bg-green-500 hover:bg-green-700 rounded-xl" title="Edit the item">Edit</a>
                            <a href="{% url 'delete_view' item.id %}" class="text-2xl block px-5 py-3 bg-red-500 hover:bg-red-700 rounded-xl" title="Delete the item">Delete</a>
                        {% else %}                    
                            <a href="{% url 'message_view' item.id %}" class="font-bold block px-5 py-3 bg-teal-400 hover:bg-teal-700 rounded-xl " title="contact the seller">Contact Seller</a>
                        {% endif %}
                    {% endif %}
                    {% if not request.user.is_authenticated  %}
                        <p class="text-center text-xl text-red-600 animate-pulse">Create an account and login to contact the seller!</p>
                    {% endif %}
                   
                </div>
            
            </div>
            
        </div>
    </div>
    <div class="mt-10">
        <h1 class=" text-2xl sm:text-3xl text-center">Related items</h1>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mt-5 pb-7">
                {% for related_item in related_items %}
                    <div class="m-4 p-6 rounded-xl bg-red-300 hover:bg-red-400 transition-all duration-200">
                        <a href="{% url 'detail_view' related_item.id %}" class="block">
                            <div class="">
                                {% if related_item.images %}
                                    <img src="{{ related_item.images.url }}" alt="" class="mx-auto rounded-xl">
                                {% else %}
                                    <img src="{% static 'images/default.png' %}" alt="" class="mx-auto rounded-xl">
                                {% endif %}
                            </div>
                            <div class="text-center">
                                <p class="border-b text-2xl text-bold">{{ related_item.name }}</p>
                                <p class="border-b text-xl text-bold"><strong class="">{{ related_item.price }}</strong> Birr</p>
                            </div>
                            
                        </a>
                    </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}