{% extends 'base.html' %}
{% block title %}Add-item{% endblock %}

{% block content %}

    <div class="m-7 p-7 bg-teal-900 border sm:max-w-lg sm:mx-auto flex flex-col justify-center items-center border-yellow-400 rounded-xl shadow-md">
        <div class="">
            <h1 class="text-3xl font-bold text-gray-300 text-center">New Item Form</h1>
        </div>
        <div class="">
            <form method="POST" action="" class="space-y-6 flex flex-col" enctype="multipart/form-data" >
                {% csrf_token %}
                <label for="category" class="text-gray-300 text-xl text-bold">Category</label>
                {{ form.category }}

                <label for="name" class="text-gray-300 text-xl text-bold">Name</label>
                {{ form.name }}

                <label for="description" class="text-gray-300 text-xl text-bold">Description</label>
                {{ form.description }}

                <label for="price" class="text-gray-300 text-xl text-bold">Price</label>
                {{ form.price }}

                <label for="quantity" class="text-gray-300 text-xl text-bold">Quantity</label>
                {{ form.quantity }}

                <label for="images" class="text-gray-300 text-xl text-bold">Images</label>
                {{ form.images }}

                <input type="submit" value="create Item" class="text-white px-4 py-2 rounded-xl w-full bg-teal-500 hover:bg-teal-700">

            </form>
        </div>

    </div>

{% endblock %}